.banner {
  width: 100%;
  height: 33.333333333333vw;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  .banner_item {
    height: 100%;
  }
  image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.QLink {
  white-space: nowrap;
  padding: 30rpx 3%;
  width: 94%;
  background: #fff;
  margin-top: -10rpx;

  .QL_item {
    display: inline-block;
    /* min-width: 20%; */
    min-width: 25%;
    text-align: center;

    image {
      width: 90rpx;
      height: 90rpx;
      margin: 0 auto;
      border-radius: 100%;
    }

    text {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #532a2a;
      font-size: 3vw;
    }
  }
}

.popular {
  background: #fff;
  margin-top: -10rpx;
  overflow: hidden;
  padding: 30rpx 10rpx 10rpx;
  margin-left: 16rpx;
  margin-right: 16rpx;

  .content1 {
    width: 45%;
    float: left;
    position: relative;
    font-size: 30rpx;
    font-weight: bold;

    view:nth-child(1) {
      position: absolute;
      color: #2762bc;
      top: 26rpx;
      left: 30rpx;
    }

    view:nth-child(2) {
      position: absolute;
      top: 70rpx;
      color: #2762bc;
      text-align: center;
      left: 25rpx;
      font-size: 20rpx;
    }

    image {
      width: 315rpx;
      height: 256rpx;
    }
  }

  .content2 {
    float: right;
    width: 53%;
    position: relative;
    margin: 0rpx 4rpx 0rpx 0rpx;
    font-size: 30rpx;
    font-weight: bold;

    view:nth-child(1) {
      position: absolute;
      color: #2762bc;
      top: 26rpx;
      left: 18rpx;
      font-weight: bold;
    }

    image {
      width: 370rpx;
      height: 132rpx;
    }
  }

  .content3 {
    width: 26%;
    float: right;
    position: relative;
    margin: 10rpx 0rpx 0rpx 2rpx;

    view:nth-child(1) {
      font-size: 24px !important;
      position: absolute;
      color: #2762bc;
      top: 11rpx;
      left: 18rpx;
      font-size: 12px;
      font-weight: bold;
    }

    image {
      width: 180rpx;
      height: 115rpx;
    }
  }

  .content4 {
    width: 26%;
    float: right;
    position: relative;
    margin: 10rpx 10rpx 10rpx 0rpx;

    view:nth-child(1) {
      font-size: 24px !important;
      position: absolute;
      color: #2762bc;
      top: 11rpx;
      left: 18rpx;
      font-size: 12px;
      font-weight: bold;
    }

    image {
      width: 180rpx;
      height: 115rpx;
    }
  }
}

.recommend {
  position: relative;
  background: #fff;
  margin-top: 10rpx;
  overflow: hidden;
  padding: 30rpx 10rpx 30rpx;
  margin-left: 16rpx;
  margin-right: 16rpx;

  .name1 {
    position: absolute;
    background-image: url(https://applets.seouleaguer.com/images/2020/09/icon_01.png);
    background-size: 100% 100%;
    height: 40rpx;
    width: 120rpx;
    top: 46rpx;

    .jinri {
      color: #fff;
      font-size: 20rpx;
      top: 5rpx;
      left: 18rpx;
      position: absolute;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 406rpx;
    width: 100%;
  }
}

.limitedTime {
  background: #fff;
  margin-top: 20rpx;
  overflow: hidden;
  padding: 30rpx 10rpx 30rpx;
  position: relative;
  margin-left: 16rpx;
  margin-right: 16rpx;

  .name {
    display: flex;
    align-items: center;
    margin-bottom: 0rpx;
  }

  .item_btn {
    display: flex;
  }

  .flash_r {
    float: right;
    top: 0rpx;
    right: 10rpx;
    line-height: 110rpx;
    background-size: 100% 100%;
    position: absolute;
    width: 64%;
    z-index: 100;

    .times {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-size: 2.5vw;
      /* right: -14rpx; */
      position: relative;
      .time_box {
        width: 60rpx;
        height: 40rpx;
        text-align: center;
        line-height: 40rpx;
        background: #2762bc;
        border-radius: 10rpx;
        margin: 0 10rpx;
        color: #ffffff;
      }
    }
  }
  .henggang {
    top: 93rpx;
    position: absolute;
    background-color: #025cbb;
    border-radius: 15rpx;
    height: 30rpx;
    z-index: 99;
    width: 97.5%;
  }
  .timeSwiper .commodity {
    margin: 20rpx auto;
    .time {
      display: flex;
      background: #fff;
      box-sizing: border-box;
      border-radius: 10rpx;
      padding: 20rpx 10rpx 20rpx;
      box-shadow: 8rpx 8rpx 16rpx #d2d2d2;
      width: 99%;
      margin: 20rpx auto;
      .item_content {
        flex: 1;
        position: relative;
        margin-left: 20rpx;
        .title {
          font-size: 3.5vw;
          display: block;
          padding: 0%;
        }
        .condition {
          border-radius: 20rpx;
          font-size: 3vw;
          text-align: center;
          width: 100rpx;
          line-height: 5vw;
          margin-top: 25rpx;
        }
        .item_btn {
          color: #999;
          font-size: 3vw;
          line-height: 5vw;
          margin-top: 10rpx;
        }
        .item_btn > view:nth-child(1) {
          flex: 1;
          color: #e7455a;
        }
        .item_btn > view:nth-child(2) {
          flex: 1.5;
          text-decoration: line-through;
          color: #4a4a4a;
          padding: 0rpx 5rpx 0rpx;
        }
        .item_btn > view:nth-child(3) {
          color: #fff;
          height: 40rpx;
          width: 100rpx;
          border-radius: 40rpx;
          text-align: center;
        }
      }
    }
    image {
      width: 200rpx;
      height: 200rpx;
    }
  }
}

.questionsAndAnswers {
  background: #fff;
  margin-top: 20rpx;
  overflow: hidden;
  padding: 30rpx 10rpx 30rpx;
  margin-left: 16rpx;
  margin-right: 16rpx;
  .honorpicture {
    padding: 20rpx 10rpx 20rpx;
    width: 590rpx;
    height: 300rpx;
    display: inline-flex;
    flex: 1;
    position: relative;
    .title2 {
      display: block;
      box-shadow: 2px 2px 8px #d2d2d2;
      border-radius: 15px;
      width: 590rpx;
      background-color: #ffffff;
      position: absolute;
      height: 300rpx;
      font-size: 4vw;
      .ask {
        margin-left: 20rpx;
        background-color: #e7455a;
        display: inline-flex;
        flex: 1;
        height: 40rpx;
        width: 40rpx;
        text {
          color: #ffffff;
          font-size: 1rem;
          margin: 0 auto;
        }
      }
      .titleName {
        color: #e7455a;
        display: inline-flex;
        flex: 1;
        left: 10rpx;
        padding: 10rpx 20rpx 10rpx;
        font-size: 28rpx;
        width: 380rpx;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .titleTime {
        display: inline-flex;
        flex: 1;
        padding: 10rpx 20rpx 10rpx;
        float: right;
        font-size: 3vw;
      }
      .splitLine {
        width: 100%;
        text-align: center;
        border-bottom: 1px dotted #000;
      }
      .answer {
        display: inline-flex;
        flex: 4;
        background-color: #3b6ed3;
        margin-left: 20rpx;
        height: 40rpx;
        width: 40rpx;
        text {
          color: white;
          font-size: 1rem;
          margin: 0 auto;
        }
      }
      .titleAnswer {
        display: inline-flex;
        width: 490rpx;
        height: 120rpx;
        flex: 4;
        padding: 10rpx 20rpx 10rpx;
        font-size: 24rpx;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;
      }
    }
    .popularimag {
      width: 81rpx;
      height: 81rpx;
    }
    .optimumimag {
      width: 64.8rpx;
      height: 59.4rpx;
    }
    .under {
      height: 180rpx;
      background: url(https://applets.seouleaguer.com/images/2020/09/IconBackground.png)
        no-repeat;
      background-position-x: 470rpx;
      background-position-y: 126rpx;
    }
    .collection {
      position: relative;
      top: 72%;
      left: 80rpx;
      height: 20rpx;
      image {
        width: 30rpx;
        height: 30rpx;
      }
    }
    .fabulous {
      position: relative;
      top: 72%;
      left: 100rpx;
      height: 30rpx;
      image {
        width: 30rpx;
        height: 30rpx;
      }
    }
  }
}

.topic {
  background: #fff;
  margin-top: 20rpx;
  overflow: hidden;
  padding: 30rpx 10rpx 30rpx;
  margin-left: 16rpx;
  margin-right: 16rpx;
  position: relative;
  .more {
    float: right;
    top: 35rpx;
    right: 10rpx;
    position: absolute;
  }
  .topicList {
    display: flex;
    float: left;
    width: 46%;
    padding: 16rpx 10rpx;
    .topicTitle {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 30rpx;
      color: #4a4a4a;
    }
    image {
      width: 30rpx;
      height: 30rpx;
      padding: 8rpx;
    }
  }
}

.environmentalS {
  background: #fff;
  margin-top: 20rpx;
  overflow: hidden;
  padding: 30rpx 10rpx 30rpx;
  .swiper {
    height: 430rpx;
  }

  .slide-image {
    position: absolute;
    height: 225rpx;
    width: 570rpx;
    z-index: 5;
    opacity: 0.7;
    top: 13%;
    margin: 0 20rpx;
  }

  .active {
    opacity: 1;
    z-index: 10;
    height: 280rpx;
    width: 570rpx;
    top: 7%;
    transition: all 0.2s ease-in 0s;
  }
}

.address{
  background: #fff;
  margin-top: 20rpx;
  overflow: hidden;
  padding: 30rpx 10rpx 30rpx ;
  margin-left: 16rpx;
  margin-right: 16rpx;
  position:relative;
  .placeName{
    background-color:#02428C;  
    position:absolute;
    top:135rpx;
    width:345rpx;
    height:58rpx;
    color:#FFFFFF;
    display:flex;
    flex:1;
    left:30rpx;
    align-items:center;
    justify-content:center;
  }
  .route{
    right:20rpx;
    width:294rpx;
    height:196rpx;
    position:absolute;
    top:130rpx;
  }
}


