
.tabbar_box {
  border-top: 1rpx #dad9d9;
}

// .tabbar_box view {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   font-size: 25rpx;
//   height: 100%;
// }

.tabbar_box view image {
  width: 38rpx;
  height: 38rpx;
}

.tabbar_box view text {
  font-size: 22rpx;
}


.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.3;
  z-index: 80;
}